n=5;
for i in range(1,0,n+1):
    for j in range(i,0,-1):
        print(j, end=" ")
    print('')

for i in range(n,0,-1):
    for j in range(i,n+1):
        print (j , " ", end=" ")
    print('')

In [237]:
# 1st Program
n=4;
for i in range(1,n+1):
    for j in range(i,i+i):
        print (j , " ", end=" ")
    print('')

1
2   3
3   4   5
4   5   6   7

In [230]:
#print *
n=4;
for i in range(1,n+1):
    for j in range(i,i+i):
        print ('*' , " ", end=" ")
    print('')

*
*   *
*   *   *
*   *   *   *

In [231]:
# enter number 
n=5;
for i in range(n,0,-1):
    for j in range(i,n+1):
        print (j , " ", end=" ")
    print('')

5
4   5
3   4   5
2   3   4   5
1   2   3   4   5

n=5;
for i in range(n,0,-1):
    for j in range(n):
        print (j , " ", end=" ")
    print('')

In [232]:
# 4th program
n=5
for i in range(n,0,-1):
    for j in range(i,0,-1):
        print(j, end=" ")
    print('')

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [233]:
# 
n=4;
for i in range(n,0,-1):
    for j in range(i,n+1):
        print (j , " ", end=" ")
    print('')

4
3   4
2   3   4
1   2   3   4

In [234]:
#5th program
n=4;
for i in range(1,n,1):
    for j in range(i,n+1):
        print (j , " ", end=" ")
    print(" ")
for i in range(n,0,-1):
    for j in range(i,n+1):
        print (j , " ", end=" ")
    print('')

1   2   3   4
2   3   4
3   4
4
3   4
2   3   4
1   2   3   4

In [ ]:
#find the length of a string without using len functions
c=0
str=input("Enter string:")
for i in str:
 c+=1
print("str length is",c )

In [ ]:
#find the no of words and characters ina string

string=input("Enter string:")
char=0
word=1
for i in string:
      char=char+1
      if(i==' '):
            word=word+1
print("Number of words in the string:")
print(word)
print("Number of characters in the string:")
print(char)

In [ ]:
str=input("enter the string")
str1=input("enter the string to be checked")
c=dict()
w=str.split()
for i in w:
  if i in c:
    c[i]=c[i]+1
  else:
    c[i]=1
print("the occurence of a word in a string is",c[str1])