a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Largest element is:",a[n-1])

In [ ]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:2
Enter the upper range:3
[(2, 4), (3, 9)]

In [ ]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
even=[]
odd=[]
for j in a:
    if(j%2==0):
        even.append(j)
    else:
        odd.append(j)
print("The even list",even)
print("The odd list",odd)

In [ ]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
    b=int(input("Enter element:"))
    a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
    d=int(input("Enter element:"))
    c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

In [ ]:
a=[['A',34],['B',21],['C',26],['E',29]]

for i in range(0,len(a)):
    for j in range(i+1,len(a)):
        if(a[i][1]>a[j][1]):
            temp=a[j]
            a[j]=a[i]
            a[i]=temp
 
print(a)

In [ ]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
for i in range(0,len(a)):
    for j in range(0,len(a)-i-1):
        if(a[j]>a[j+1]):
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp 
print('Second largest number is:',a[n-2])

In [ ]:
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
    a.append(random.randint(1,10))
print('Randomised list is: ',a)

In [ ]:
#print multiples of 3 upto 200 using a list
a=[i for i in range(3,200,3)]
print(a)

In [ ]:
a=[]
for i in range(1000,2001):
  if(i%5==0 and i%7==0):
    a.append(i)
print(a)

In [ ]:
#Add the n number of names in a list and print them alphabetically and reverse alphabetically
a=[]
b=int(input("enter the no of names"))
for x in range(1,b+1):
  c=input("enter names")
  a.append(c)

a.sort()
print(a)
a.reverse()
print(a)

enter the no of names3
enter namescat
enter namesdog
enter namesapple
['apple', 'cat', 'dog']
['dog', 'cat', 'apple']

In [ ]:
#Print  perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list
a=[]
import math
# Taking the input from user
for number in range (500,1001):
  root = math.sqrt(number)
  if (int(root + 0.5) ** 2 == number) and (number%5==0):
    a.append(number)
print(a)

[625, 900]

In [ ]:
txt = 'but soft what light in yonder window breaks'
words = txt.split()
#print(words)
t = list()
for word in words:
   t.append((len(word), word))
print(t) 
t.sort(reverse=True)

res = list()
for length, word in t:
    res.append(word)

print(res)

[(3, 'but'), (4, 'soft'), (4, 'what'), (5, 'light'), (2, 'in'), (6, 'yonder'), (6, 'window'), (6, 'breaks')]
['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

In [ ]:
# Create packed tuple.
pair = ("dog", "cat", "Monkey")

# Unpack tuple.
(key, value, value1) = pair

# Display unpacked variables.
print(key)
print(value)
print(value1)

In [ ]:
pair = ("dog", "cat","Monkey")

# Search for a value.
if "cat" in pair:
    print("Cat found")
if "Monkey" in pair:
    print("Monkey")



# Search for a value not present.
if "bird" not in pair:
    print("Bird not found")

In [ ]:
#Get  a string and store word by word as elements in a tuple and find the largest word in the  tuple and print it

txt=input("Enter the String")


words = txt.split()
#print(words)
t = list()
for word in words:
   t.append(word)
 
t.sort()

print("the largest word is",t[-1])

Enter the Stringdelhi in india
the largest word is india

In [ ]:
#Get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard  and print them in marks descending order with rollno.
a=[]
d=[]
n=int(input("Enter a number:"))
for x in range(1,n+1):
  r=int(input("Enter roll no"))
  m=int(input("enter marks"))
  d=[(r,m)]
  a.append(d)
print(a)
a.sort(reverse=True)
print("the sorted list is ",a)

Enter a number:4
Enter roll no23
enter marks45
Enter roll no25
enter marks25
Enter roll no23
enter marks44
Enter roll no99
enter marks56
[[(23, 45)], [(25, 25)], [(23, 44)], [(99, 56)]]
the sorted list is  [[(99, 56)], [(25, 25)], [(23, 45)], [(23, 44)]]

In [ ]:
#Get name and salary (name, salary) as list of tuples for n number of employees through keyboard  and print them in name alphabetical order with salary
a=[]
d=[]
n=int(input("Enter a number of employee:"))
for x in range(1,n+1):
  n=input("Enter name")
  s=int(input("enter salary"))
  d=[(n,s)]
  a.append(d)
print(a)
a.sort()
print("the list of employee in alphabetical order is ",a)

Enter a number of employee:3
Enter nameseeta
enter salary9900
Enter nameGeeta
enter salary1200
Enter nameRam
enter salary25300
[[('seeta', 9900)], [('Geeta', 1200)], [('Ram', 25300)]]
the list of employee in alphabetical order is  [[('Geeta', 1200)], [('Ram', 25300)], [('seeta', 9900)]]