1.	Add name and marks {name:mark} for n number of students through keyboard in a dictionary and print the marks in descending order with respective name.

In [ ]:
list = {}
n = int(input("Enter number of Students: "))
for i in range(n):
    name, mark = input("Enter name and mark: ").split()
    list.update({name:mark})
for key in sorted(list, reverse = True):
    print("%s: %s" % (key, list[key]))

Enter number of Students: 4
Enter name and mark: abhi 35
Enter name and mark: zen 36
Enter name and mark: joe 32
Enter name and mark: mark 28
zen: 36
mark: 28
joe: 32
abhi: 35

2.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in name alphabetical order with salary

In [ ]:
list = {}
n = int(input("Enter number of employees: "))
for i in range(n):
    name, salary = input("Enter name and salary: ").split()
    list.update({name:salary})
for key in sorted(list):
    print("%s: %s" % (key, list[key]))

Enter number of employees: 4
Enter name and salary: jazz 2100
Enter name and salary: zack 3600
Enter name and salary: aniket 2100
Enter name and salary: rose 4000
aniket: 2100
jazz: 2100
rose: 4000
zack: 3600

3.	Add  name and salary {name:salary} for n number of employees through keyboard in a dictionary and print them in salary  ascending order and  sum, max, min and average of the salaries

In [ ]:
leg = {}
acc = []
n = int(input("Enter number of employees: "))
for i in range(n):
    name, salary = input("Enter name and salary: ").split()
    name, salary = name, float(salary)
    leg.update({name:salary})
sort_orders = sorted(leg.items(), key=lambda x: x[1])
for i in sort_orders:
    acc.append(i[1])
print("Salary in ascending order: ",acc)
print("Sum: ",sum(acc))
print("Max: ",max(acc))
print("Min: ",min(acc))
print("Average: ", sum(acc)/n)

Enter number of employees: 4
Enter name and salary: raj 3500
Enter name and salary: vinu 3200
Enter name and salary: joe 3800
Enter name and salary: krish 3700
Salary in ascending order:  [3200.0, 3500.0, 3700.0, 3800.0]
Sum:  14200.0
Max:  3800.0
Min:  3200.0
Average:  3550.0

4.	Add name and salary {name:salary} for n number of employees through keyboard in a dictionary and print only the employees whose salary is greater than 2000 but less than 4000

In [ ]:
leg = {}
n = int(input("Enter number of employees: "))
for i in range(n):
    name, salary = input("Enter name and salary: ").split()
    name, salary = name, float(salary)
    leg.update({name:salary})
sort_orders = sorted(leg.items(), key=lambda x: x[1])
print("Employees whose salary is greater than 2000 but less than 4000: ")
for i in sort_orders:
    if i[1] > 2000 and i[1] <4000:
        print(i[0]," : ", i[1])

Enter number of employees: 4
Enter name and salary: joe 2100
Enter name and salary: park 4100
Enter name and salary: jack 3500
Enter name and salary: lax 1200
Employees whose salary is greater than 2000 but less than 4000:
joe  :  2100.0
jack  :  3500.0

5.	Python program to convert a 3 digit number  into words

In [ ]:
digits = {0:"zero", 1:"one", 2:"two", 3:"three", 4:"four", 5:"five", 6:"six", 7:"seven", 8:"eight", 9:"nine"}
digitstens = {0:" ", 1:"ten", 2:"twenty", 3:"thirty", 4:"fourty", 5:"fifty", 6:"sixty", 7:"seventy", 8:"eighty", 9:"ninty"}
digitsunits = {0:" ", 1:"one", 2:"two", 3:"three", 4:"four", 5:"five", 6:"six", 7:"seven", 8:"eight", 9:"nine"}
digitsfun = {0:"ten", 1:"eleven", 2:"twelve", 3:"thirteen", 4:"fourteen", 5:"fifteen", 6:"sixteen", 7:"seventeen", 8:"eighteen", 9:"nineteen"}
n = int(input("Enter a 3 digit number: "))
if n > 99 and n <1000:
    u = int(n%10)
    t = int(int(n/10)%10)
    h = int(int(int(n/10)/10)%10)

    def hun(h):
        sort_orders = sorted(digits.items(), key=lambda x: x[1])
        for i in sort_orders:
            if i[0] == h:
                return(i[1])
    def ten(t):
        sort_orderstens = sorted(digitstens.items(), key=lambda x: x[1])
        for i in sort_orderstens:
            if i[0] == t:
                return(i[1])
    def uni(u):
        sort_ordersunits = sorted(digitsunits.items(), key=lambda x: x[1])
        for i in sort_ordersunits:
            if i[0] == u:
                return(i[1])
    def fun(u):
        sort_ordersfun = sorted(digitsfun.items(), key=lambda x: x[1])
        for i in sort_ordersfun:
            if i[0] == u:
                return(i[1])
    if t != 1:        
        print(hun(h),"hundred and",ten(t),uni(u))
    else:
        print(hun(h),"hundred and",fun(u))
else:
    print("Invaild, Enter a 3 digit number.")

Enter a 3 digit number: 365
three hundred and sixty five

6. Python Program to count the total number of characters (except blank space) in a text file.

In [ ]:
fname = input("Enter file name: ")
k=0
num_char = 0
with open(fname, 'r') as f:
    for line in f:
        char = line.split()
        for i in char:
            for letter in i:
                if(letter.isalnum):
                    k=k+1
                    
print("Total number of characters: ",k)

Enter file name: India.txt
Total number of characters:  218

7. Python Program to print all the numbers present in a text file with its total number of occurrence.

In [ ]:
fname = input("Enter file name: ")
k=l=m=n=o=p=q=r=s=t=0
num_char = 0
print("The numbers present in a text file are: ")
with open(fname, 'r') as f:
    for line in f:
        char = line.split()
        for i in char:
            for letter in i:
                if(letter == '1'):k+=1
                if(letter == '2'):l+=1
                if(letter == '3'):m+=1
                if(letter == '4'):n+=1
                if(letter == '5'):o+=1
                if(letter == '6'):p+=1
                if(letter == '7'):q+=1
                if(letter == '8'):r+=1
                if(letter == '9'):s+=1
                if(letter == '0'):t+=1
if k >0:print("Total number of occurrence of 1 is ",k,"times")   
if l >0:print("Total number of occurrence of 2 is ",l,"times")
if m >0:print("Total number of occurrence of 3 is ",m,"times")
if n >0:print("Total number of occurrence of 4 is ",n,"times")
if o >0:print("Total number of occurrence of 5 is ",o,"times")
if p >0:print("Total number of occurrence of 6 is ",p,"times")
if q >0:print("Total number of occurrence of 7 is ",q,"times")
if r >0:print("Total number of occurrence of 8 is ",r,"times")
if s >0:print("Total number of occurrence of 9 is ",s,"times")
if t >0:print("Total number of occurrence of 0 is ",t,"times")

Enter file name: India.txt
The numbers present in a text file are:
Total number of occurrence of 1 is  6 times
Total number of occurrence of 2 is  7 times
Total number of occurrence of 3 is  7 times
Total number of occurrence of 4 is  7 times
Total number of occurrence of 5 is  7 times
Total number of occurrence of 6 is  7 times
Total number of occurrence of 7 is  6 times
Total number of occurrence of 8 is  6 times
Total number of occurrence of 9 is  6 times
Total number of occurrence of 0 is  2 times

8. Python Program to append the contents of one file to another file by getting the both file names through keyboard .

In [ ]:
fname = input("Enter file name to be copied from: ")
fname1 = input("Enter file name to be copied to: ")
with open(fname) as f:
    with open(fname1, "a") as f1:
        for line in f:
            f1.write(line)
        f1.write("\n")
print("Done")

Enter file name to be copied from: India.txt
Enter file name to be copied to: Output_append.txt
Done

9. Python Program to count the number of blank spaces in a text file

In [ ]:
fname = input("Enter file name: ")
k = 0
with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        for i in words:
            if(i.isspace):
                k=k+1
print("Number of blank spaces: ",k)

Enter file name: India.txt
Number of blank spaces:  33

10. Python Program to read a file and capitalize the first letter of every word in the file and copy the every word capitalized content  into another file and read it

In [ ]:
fname = input("Enter file name to capitalize the first letter from: ")
fname1 = input("Enter file name to be copied to: ")
with open(fname) as f:
    with open(fname1, "w") as f1:
        for line in f:
            f1.write(line.title())
        f1.write("\n")
print("\n")
with open(fname1, "r") as f1:
    for line in f1:
        l=line.split()
        st= " ".join(l)
        print (st)

Enter file name to capitalize the first letter from: India.txt
Enter file name to be copied to: Output_capitalize.txt


India, Officially The Republic Of India, Is A Country In South Asia
It Is The Second-Most Populous Country
123456789098765432432156789
The Seventh-Largest Country By Area
And The Most Populous Democracy In The World
1234567890987654321654321432156789